.ant-image {
  display: block;
  width: 100%;
  height: 100%;
}

.ant-menu-item-icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100%;
   margin-left: -3.7px !important;
}

.ant-image-img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: center center;
}

.ant-menu-item-selected {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.ant-menu-item-selected:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.ant-menu-item-selected .ant-menu-title-content {
  color: white !important;
}

.ant-menu-item .ant-menu-item-icon {
  color: black !important;
}

.ant-menu-item-selected .ant-menu-item-icon {
  color: white !important;
}
