
.scrollbar-hide {
  overflow-y: auto;      
  scrollbar-width: thin;    
  scrollbar-color: transparent transparent;
  -ms-overflow-style: auto; 
  transition: all 0.3s ease-in-out;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px; 
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
}

.scrollbar-hide:hover {
  scrollbar-color: var(--primary-color) transparent;
}

.scrollbar-hide:hover::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}